<h2>OmniContacts Example</h2>

<a href="/contacts/gmail">Gmail</a>
<a href="/contacts/yahoo">Yahoo</a>
<a href="/contacts/hotmail">HotMail</a>

<% if !@contacts.nil?%>
	<% @contacts.each do |c|%>
	<ul>
		<li><%= c[:name]%> : 	<%= c[:email]%></li>
	</ul>	
	<%end%>
<%end%>
